<div class="banner-small" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('<%= asset_path(@trip.body.image) %>');">
  <h1>Get ready for your next trip to
    <%= @trip.body.name %>! <i class="fas fa-rocket"></i></h1>
</div>
<div class="container align-items-center justify-content-center" id="confi">
  <div class="d-flex flex-column align-items-center justify-content-center">
 <div class="confirmation-container">
    <h2>Trip Confirmation</h2>


    <h4>Details of your trip:</h4>
    <ul>
      <li>Arrival date:
        <%= @trip.arrival_date %>
      </li>
      <li>Departure date:
        <%= @trip.departure_date %>
      </li>
       <li>Distance:
        <%=  @trip.body.distance %>
      </li>
      <li>Starship:
         <%= @trip.body.starship.name %>
      </li>
       <li>Climate:
         <%= @trip.body.climate %>
      </li>
      <li>
        <% arrival_start = @trip.arrival_date %>
        <% departure_start = @trip.departure_date %>
        <% days_in_range = (arrival_start .. departure_start).count %>

        <% bodie_price = @trip.body.cost_per_day %>
        <% total_cost = bodie_price * days_in_range %>
        <hr>
        🛸 <span style="color:#703AAA"><%= "Total costs of your trip:  #{total_cost}  Spacecoins." %></span> 🛸
      </li>
    </ul>
  </div>
</div>
</div>
