<div class="container">
  <h1><%= @body.name.capitalize %></h1>
  <%= image_tag "mars.jpg", {alt: "mars", class: 'image-planet'} %>

  <div class="content d-flex justify-content-between mt-4">
    <div class="content-details ">
      <h4>Details</h3>
      <p>The </p>
      <p>*******</p>
      <p><%= "discovered_by: #{@body.discovered_by}" %></p>
      <p><%= "discovery_date: #{@body.discovery_date}" %></p>
      <p><%= "cost_per_day: #{@body.cost_per_day}" %></p>
      <p><%= "distance: #{@body.distance} km" %></p>
      <p><%= "capacity: #{@body.capacity} people" %></p>
      <p><%= "climate: #{@body.climate}" %></p>
      <p><%= "gravity: #{@body.gravity}" %></p>
    </div>
    <div class="content-reservation">


   <%= simple_form_for [ @body, @trip ] do |f| %>
          <%= f.input :arrival_date, placeholder: "01.01.2021" %>
          <%= f.input :departure_date, placeholder: "30.06.2021" %>
          <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>
</div>
</div>

