<div class="container">
  <h1><%= @body.name.capitalize %></h1>
  <%= image_tag "mars.jpg", {alt: "mars", class: 'image-planet'} %>

  <div class="content d-flex justify-content-between mt-4">
    <div class="content-details ">
      <h3>Details</h3>
      <p><%= "discovered_by: #{@body.discovered_by}" %></p>
      <p><%= "discovery_date: #{@body.discovery_date}" %></p>
      <p><%= "cost_per_day: #{@body.cost_per_day}" %></p>
      <p><%= "distance: #{@body.distance} km" %></p>
      <p><%= "capacity: #{@body.capacity} people" %></p>
      <p><%= "climate: #{@body.climate}" %></p>
      <p><%= "gravity: #{@body.gravity}" %></p>
    </div>
    <div class="content-reservation">

     <h3>Your journey</h3>
     <%= render 'trips/form', trip: @trip %>

    </div>
  </div>
</div>
</div>

