<div class="banner-home">
  <h1>Merkur<i class="fas fa-rocket"></i></h1>
  <p>beyond infinity</p>
  <%= link_to "Find other worlds", bodies_path, class: "btn-info" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4 mb-4 text-center">Discover the universe</h1>
    </div>
  </div>
  <div class="row">
    <% @bodies.sample(3).each do |body| %>
    <div class="col-lg-4 col-md-6 col-12 mb-3">
      <div class="card-category">
        <%= link_to body.name.capitalize, body_path(body)%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- 1st Top destinations Banner -->

<%= link_to body_path(@mars.first.id), class: "link-banner" do %>
<div class="card-product my-3 position-relative">
  <%= image_tag "mars-min.jpg", alt: "Landscape of Mars" %>
  <div class="card-product-infos">
    <h2>Mars</h2>
    <p>Click here and book your next trip to the red planet!</p>

  </div>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4 mb-4 text-center">The most booked destinations of this month!</h1>
    </div>
  </div>
  <div class="row">
    <% @bodies.sample(3).each do |body| %>
    <div class="col-lg-4 col-md-6 col-12 mb-3">
      <div class="card-category">
        <%= link_to body.name.capitalize, body_path(body)%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- 2nd Top destinations Banner -->
<%= link_to body_path(@moon.first.id), class: "link-banner" do %>
<div class="card-product my-3">
  <div class="card-product-infos">
    <h2>Moon</h2>
    <p>Click here and get the chance to have an amazing time!</p>
  </div>
   <%= image_tag "moon-min.jpg", alt: "Landscape of Mars" %>
</div>
<% end %>

